.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 7;

  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: rem(5px);
}

.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__btn {
  position: relative;

  display: block;
  width: rem(20px);
  height: rem(20px);
  border: 2px solid transparent;
  border-radius: 50%;
}

.fixed-menu__item--active .fixed-menu__btn {
  border-color: #fff;
}

.fixed-menu__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: rem(8px);
  height: rem(8px);
  border-radius: 50%;

  background-color: #fff;
}

.fixed-menu--shadowed .fixed-menu__item--active .fixed-menu__btn {
  border-color: #000;
}

.fixed-menu--shadowed .fixed-menu__btn::before {
  background-color: #000;
}
