.jobs {
  height: 100vh;
  min-height: 650px;

  background-color: #F8FAF9;
}

.jobs__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.jobs__video {
  display: flex;
  justify-content: center;
}
